@font-face {
  font-family: inter;
  src: url("../../shared/assets/fonts/inter-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: consolas;
  src: url("../../shared/assets/fonts/consolas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
