.Button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 6px 15px;
  border-radius: 4px;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.8;
    fill-opacity: 80%;
    stroke-opacity: 80%;
  }
}

.clear {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.outlineInverted {
  border: 1px solid var(--inverted-primary-color);
  color: var(--inverted-primary-color);
  background: none;
}

.background {
  background: var(--primary-color);
  color: #fff;
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}

.square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font: var(--font-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.disabled {
  opacity: 0.8;
}

.danger {
  border: 1px solid var(--red-light);
  color: var(--red-light);
  background: none;
}

.loader {
  height: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid;
  border-color: #fff #0000;
  animation: l1 1s infinite;
  margin: 0 auto;
}

@keyframes l1 { to { transform: rotate(0.5turn); } }
