.app_dark_theme {
  --bg-color: #121212;
  --layot-color: #1e1e1e;
  --layot-border: #333;
  --main-text-color: #e0e0e0;
  --secondary-text-color: #a0a0a0;
  --inverted-text-color: #000;
  --primary-color: #409eff;
}
