.app_light_theme {
  --bg-color: #f9f9f9;
  --layot-color: #fff;
  --layot-border: #ededed;
  --main-text-color: #1f1f1f;
  --secondary-text-color: #595959;
  --inverted-text-color: #fff;
  --primary-color: #1677ff;
}
