.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid #999;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.checkbox.checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.checkmark {
  color: white;
  font-size: 20px;
}

.labelText {
  color: var(--main-text-color);
}
